.about-right h2{
    color: #ffc400;
    margin: 0 0 30px;
    font-family: "oswald", sans-serif;
    font-weight: 700;
    font-size:40px;
}
.about-right h2 span{
   font-size: 72px;
   color: transparent;
   background-clip: text;
   
   
}
.about-right h4 {
    color: #303030;
    font-weight: 700;
    margin: 0 0 15px;
}
p {
    color: #606060;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px;
}
.about-right img{
    padding-left: 8px;
    padding-right: 8px;

}
.founder{
    text-align: end;
    font-weight: bold;
    padding-right: 6px;
}
.about-us-text{
    padding:10px;
    font-style: italic;
    border:0.1px #131730;
    border-radius: 15px;
    text-align: justify;
    margin:18px 0;
    background-color: #fafafa;
}
.about-first-para{
    text-align: justify;
   
}
.img-fluid{
height: 430px;
margin-top: 20px;
}