.blog-details-container {
  display: flex;
  flex-direction: row;
  margin: 0 15px 60px 15px;
  margin-top: -60px;
  padding: 15px 25px 15px 25px;
}
.blog-details-leftSide {
  width: 70%;
  text-align: justify;
  margin-right: 50px;
}
.blog-details-rightSide {
  width: 25%;
  background-color: rgb(225, 225, 225, 0.27);
  position: sticky;
  height: fit-content;
  top: 90px;
  padding: 20px;
}
.blog-details-rightSide h2 {
  color: #1a1a1a; 
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.blog-details-rightSide ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-details-rightSide ul li {
  margin-bottom: 12px; 
}

.blog-details-rightSide ul li span {
  display: block;
  font-size: 16px;
  margin: 8px 0 5px;
  color: #252525;
}
.bd_latestBlog_author {
  display: flex;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: "lato";
  gap: 4px;
}
.blog-details-data {
  border-radius: 15px;
  border: 5px solid transparent;
  padding: 25px;
  background-color: rgb(225, 225, 225, 0.27);
}
.bd-img img {
  width: 100%;
  height: 400px;
}
.blogdetails_img_collage{
  display:flex;
  flex-direction:row ;
  width:100%;
}
.blogdetails_img_collage img{
  width:50% !important;
}
.bd-head {
  margin: 20px 0 20px 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.bd-owner-details {
  display: flex;
  padding: 7px 12px;
  background-color: #e1e1e1;
  border: 2px solid #f5eaea;
  justify-content: space-between;
  font-size: 0.857rem;
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  margin-bottom: 22px;
}
.bd-desc,
.bd-bI-map {
  margin-bottom: 22px;
  color: #606060;
  font-family: "lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin:0 0 15px;
}
.bd-content-subhead{
color:#1a1a1a;
font-weight:600;
line-height: 1.2;
font-size:1.3rem;
margin: 15px 0 8px 0;
font-family: "lato", sans-serif;

}
.bd-content-list ul {
  list-style: none; /* Remove default list style */
  padding-left: 20px; /* Add some padding to align text properly */
}

.bd-content-list li {
  position: relative;
  margin: 10px 0 5px 0;
  padding-left: 20px; /* Add padding for the custom disc */
}

.bd-content-list li::before {
  content: '\2022'; /* Unicode character for the disc */
  color: #1a1a1a; /* Change this to your desired dark color */
  font-size: 1.2em; /* Adjust size as needed */
  position: absolute;
  left: 0;
  top: 0;
}

#bd-content-list-head{
  font-weight: 700;
  color:#1a1a1a;
}


@media screen and (max-width: 767px) {
  .blog-bg {
    top: -70px; 
    height: 300px; 
  }

  .blog-head {
    top: 150px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 3rem; 
  }

  .blog-details-container {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
  }

  .blog-details-leftSide {
    width: 100%; 
    margin-right: 0; 
  }

  .blog-details-rightSide {
    display: none; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .blog-bg {
    top: -90px; 
    height: 400px; 
  }

  .blog-head {
    top: 220px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 3.5rem; 
  }
}

