.blog-read-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-top: 20px;
  margin-bottom: 6px;
}

.blog-read-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1a1a1a;
  border-radius: 1.625rem;
}

.blog-read-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.blog-read-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.blog-read-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.blog-read-more .read-btn-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 0;
  margin: 0 0 0 1.85rem;
  color: #1a1a1a;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  font-size: 15px;
}

.blog-read-more:hover .circle {
  width: 100%;
}

.blog-read-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.blog-read-more:hover .read-btn-text {
  color: #fff;
}
.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.blog-bg {
  position: relative;
  top: -120px;
  height: 500px;
  width: 100%;
}
.blog-head {
  position: absolute;
  top: 220px;
  left: 500px;
  font-size: 5.6rem;
  font-weight: bold;
  color: #112137;
}
.blog-bg img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.blog-container {
  display: flex;
  flex-direction: row;
  margin: 0 15px 0 15px;
  margin-top: -60px;
  padding: 15px 25px 15px 25px;
}

.blog {
  border-radius: 15px;
  border: 5px solid transparent;
  padding: 25px;
  background-color: rgb(225, 225, 225, 0.27);
}
.blog-leftSide {
  width: 70%;
  text-align: justify;
  margin-right: 50px;
}

.blog-rightSide {
  width: 25%;
  background-color: rgb(225, 225, 225, 0.27); 
  position: sticky;
  height: fit-content;
  top: 90px;
  padding: 20px;
}


.blog-rightSide h2 {
  color: #1a1a1a; 
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.blog-rightSide ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-rightSide ul li {
  margin-bottom: 12px; 
}

.blog-rightSide ul li span {
  display: block;
  font-size: 16px;
  margin: 8px 0 5px;
  color: #252525; 
}
.latestBlog_author {
  display: flex;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: "lato";
  gap: 4px;
}
.blog img {
  width: 100%;
  height: 400px;
}
.blog h3 {
  margin: 20px 0 20px 0;
}
.blog-owner-details {
  display: flex;
  padding: 7px 12px;
  background-color: #e1e1e1;
  border: 2px solid #f5eaea;
  justify-content: space-between;
  font-size: 0.857rem;
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  margin-bottom: 22px;
}
.blog-desc {
  margin-bottom: 22px;
}

.blog-data {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 70px 0;
}

.pagination li {
  margin: 0 5px;
  list-style-type: none;
}

.pagination li button {
  background-color: #f7f7f7;
  color: #1a1a1a;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination li button:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.pagination li.active button {
  background-color: #1a1a1a;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .blog-bg {
    top: -70px; 
    height: 300px; 
  }

  .blog-head {
    top: 150px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 3rem; 
  }

  .blog-container {
    flex-direction: column; 
    align-items: center;
    padding: 10px; 
  }

  .blog-leftSide {
    width: 100%; 
    margin-right: 0; 
  }

  .blog-rightSide {
    display: none; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .blog-bg {
    top: -90px; 
    height: 400px; 
  }

  .blog-head {
    top: 220px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 3.5rem; 
  }
}
