.blog-details-container {
  display: flex;
  flex-direction: row;
  margin: 0 15px 60px 15px;
  margin-top: -60px;
  padding: 15px 25px 15px 25px;
}
.blog-details-leftSide {
  width: 70%;
  text-align: justify;
  /* background-color: rgb(225, 225, 225, 0.27); */

  margin-right: 50px;
}
.blog-details-rightSide {
  width: 25%;
  background-color: rgb(225, 225, 225, 0.27);
  position: sticky;
  height: fit-content;
  top: 90px;
  padding: 20px;
}
.blog-details-rightSide h2 {
  color: #1a1a1a; /* Change heading color */
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.blog-details-rightSide ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-details-rightSide ul li {
  margin-bottom: 12px; /* Add margin bottom */
}

.blog-details-rightSide ul li span {
  display: block;
  font-size: 16px;
  margin: 8px 0 5px;
  color: #252525; /* Change text color */
}
.bd_latestBlog_author {
  display: flex;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: "lato";
  gap: 4px;
}
.blog-details-data {
  border-radius: 15px;
  border: 5px solid transparent;
  padding: 25px;
  background-color: rgb(225, 225, 225, 0.27);
}
.bd-img img {
  width: 100%;
  height: 400px;
}
.bd-head {
  margin: 20px 0 20px 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.bd-owner-details {
  display: flex;
  padding: 7px 12px;
  background-color: #e1e1e1;
  border: 2px solid #f5eaea;
  justify-content: space-between;
  font-size: 0.857rem;
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  margin-bottom: 22px;
}
.bd-desc,
.bd-full-desc {
  margin-bottom: 22px;
  color: #606060;
  font-family: "lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px;
}
