.review-container{
    display:flex;
    flex-direction: row;
    width:95%;
    margin:55px;
    padding:12px;
}
.review-header
{
    width:33%;
    padding:0 12px;
    /* height:300px; */
}
.review-slides{
    width:60%;
    padding:0 12px;
}
.carousel {
    width: 100%;
    overflow:hidden;
    position: relative;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 2s ease;
    padding:35px;
    gap:10px;

  }
  
  .slide-client{
    flex: 0 0 calc(51% - 1px); 
    margin: 0 5px;
    background-color: #fafafa;
    text-align: center;
    padding: 20px;
  }
  
  .client-slide-btn {
    position: relative;
    transform: translateY(-50%);
    background-color:transparent;
    color:#ffc400;
    border: 1px solid #131730;
    padding: 10px 20px;
    cursor: pointer;
  }
  .client-slide-btn:hover{
    background: linear-gradient(#112137,#0c3f7b,#0274CA);
    color: #fafafa;
  }
  .prev {
    left:40px;
  }
  
  .next{
    left:45px
  }
  .review-header h2{
    color: #ffc400;
    margin: 0 0 20px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald',sans-serif;
  }
  .review-header p{
    color: #606060;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px;
  }
  .slide-text{
    color: #606060;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  .slide-name{
    color: #303030;
    display: block;
    font-size: 16px;
    font-style: italic;
    margin: 5px 0 2px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato",sans-serif;
    font-size: 1rem;
    text-align: end;
  }
  .slide-designation{
    color: #606060;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    text-align: end;

  }
  
