.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 2em;
  box-sizing: border-box;
  width: 95%;
  height: 600px;
  background-color: #fafafa;
}

.contact-form {
  width: 55%;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
  
}
.contact-form h2 {
  color: #ffc400;
  font-weight: 660;
}
.contact-form-inner {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}
.contact-fm {
  display: flex;
  flex-direction: row;
  gap: 60px;
  /* background-color:#45a049; */
}
.form-fm {
  width: 45%;
}
input {
  height: 45px;
}
.contact-lbl {
  font-weight: 660;
  font-size: 0.8em;
}
textarea::placeholder,
input::placeholder {
  font-size: 15px;
  padding: 10px;
  opacity: 0.67;
}
#message {
  height: 130px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10px;
}

textarea {
  resize: vertical;
  min-height: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #45a049;
}
.map {
  width: 40%;
  height: 100%;
  margin-left: 20px;
}
.map_frame {
  height: 100%;
  width: 100%;
}

#contact-btn {
  color: #ffc400;
  background: linear-gradient(#112137,#0c3f7b,#0274CA);
  font-weight: 700;
}
#contact-btn:hover{
  background: transparent;
  border:2px solid #ffc400;
  color:#606060;
}
