.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 2em;
  box-sizing: border-box;
  width: 95%;
  height: 650px;
  background-color: #fafafa;
}

.contact-form {
  width: 55%;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
}
.contact-form h2 {
  color: #ffc400;
  font-weight: 660;
}
.contact-form-inner {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}
.contact-fm {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.form-fm {
  width: 45%;
}
input {
  height: 45px;
}
.contact-lbl {
  font-weight: 660;
  font-size: 0.8em;
}
textarea::placeholder,
input::placeholder {
  font-size: 15px;
  padding: 10px;
  opacity: 0.67;
}
#message {
  height: 130px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
}

textarea {
  resize: vertical;
  min-height: 20px;
}

.map {
  width: 40%;
  height: 100%;
  margin-left: 20px;
}
.map_frame {
  height: 100%;
  width: 100%;
}

.send-button {
  font-family: inherit;
  font-size: 15px;
  background: transparent;
  border: 1px solid #131730;
  color: #ffc400;
  padding: 0.7em 1em;
  padding-left: 2.1em;
  display: flex;
  align-items: center;
  width: 155px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
 margin-left: 3.8px;
 margin-top: 20px;
}

.send-button span {
  display: block;
  font-size: 15px;

  margin-left: 0.8em;
  color: #303030;
  font-weight: 700;

  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.send-button:hover{
  background: #1a1a1a

}
.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(2.1em) rotate(45deg) scale(1.1);
  color: #fafafa;
}

.send-button:hover span {
  transform: translateX(10em);
}

.send-button:active {
  transform: scale(0.95);
}
.contact-success-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc400;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.contact-success-popup p{
  color:#303030;
}



@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media screen and (max-width: 767px) {
  .contact-container {
    flex-direction: column; 
    height: auto; 
    margin-top: 50px; 
    margin-bottom: 50px; 
  }

  .contact-form {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .map {
    width: 100%; 
    margin-left: 0; 
  }
}

@media screen and (min-width: 768px) {
  .contact-container {
    height: 650px; 
  }

  .contact-form {
    width: 55%; 
    margin-right: 20px; 
    margin-bottom: 0; 
  }

  .map {
    width: 40%; 
    margin-left: 20px; 
  }
}