ul {
  list-style-type: none;
}
.footer-linkcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  margin-top: 50px;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 30px;
}
.footerlogotext {
  padding-left: 35px;
  padding-right: 30px;
  color: #fafafa;
  display: block;
  overflow: hidden;
  padding-top: 53px;
}
.footerlogotext p {
  font-family: sans-serif;
  font-size: 14px;

  line-height: 24px;
  color: #fafafa;
  padding-right: 15%;
}
.footer-container {
  /* background: linear-gradient(#112137,#0c3f7b,#0274CA); */
  background: #1a1a1a;
  min-height: 300px;
  overflow-x: hidden;
}

a {
  color: #6c757d;
  text-decoration: none;
}
.handlecontact {
  display: flex;
}
.logocontainer {
  align-items: center;
  justify-content: center;
}
.footercolumn2,
.footercolumn3 {
  line-height: 2em;
}

.footer-linkcontainer li,
span,
a {
  color: #6c757d;
  font-size: 13px;
}
.footercolumn2 {
  display: flex;
  flex-direction: column;
}
.footercolumn3 a:hover {
  color: #ffc400;
}
.footer-linkcontainer h3 {
  color: #ffc400;
  font-size: 18px;
}
.footercolumn1 h3 {
  padding-left: 33px;
}
.footercolumn2 span:hover {
  cursor: pointer;
  color: #ffc400;
}
.footercolumn2 span {
  margin-left: 4px;
}
.footercolumn3 h3 {
  padding-left: 29px;
}
.blog-single p {
  color: #919191;
  font-size: 13px;
  margin: 8px 0 5px;
}
.blog-single a {
  color: #ffc400;
  font-size: 12px;
  font-family: lato;
  text-decoration: none;
}
.footercolumn4 {
  width: 25%;
}
.footer-image h4 {
  font-weight: 700;
  padding-left: 14px;
}
.footer-image span {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
}
/* .footer-image {
background-color: #ffc400;
} */
.ent {
  padding-left: 36px;
  margin-top: -12px;
}
.footercolumn2 span {
  margin-left: 4px;
}
.footercolumn3 h3 {
  padding-left: 29px;
}
.blog-single p {
  color: #fafafa;
  font-size: 13px;
  margin: 8px 0 5px;
}
.blog-single a {
  color: #ffc400;
  font-size: 12px;
  font-family: lato;
  text-decoration: none;
}
.footercolumn4 {
  width: 25%;
}
.footer-image h4 {
  font-weight: 700;
  padding-left: 14px;
}
.footer-image span {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
}

.ent {
  padding-left: 36px;
  margin-top: -12px;
}
.handlecontact p,
li {
  color: #fafafa;
}
.footercolumn2 span {
  color: #fafafa;
}
.footercolumn3 a {
  color: #fafafa;
}
