ul{
    list-style-type: none;
}
.footer-linkcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin-top: 50px;
}
.footer-logocontainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footerlogotext
{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.footer-container
{
    margin-top: 100px;
    background-color: black;
    height: 500px;
}
a{
    color: white;
    text-decoration: none;
}
.handlecontact{
    display: flex;
}
