@import url("https://fonts.cdnfonts.com/css/futura-display-bq");

.home_carousel {
  width: 100%;
  margin: -10px 0;
  height: 600px;
  opacity: 0.67;
}

.home_bg_pic {
  position: absolute;
  top: 94px;
  left: 440px;
}

.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 660px;
  opacity: 0;
  transition: opacity 1s;
}

.slide-bg.active {
  opacity: 1;
}

.slide-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_bg_first,
.home_bg_second {
  position: absolute;
  font-size: 2.3em;
  letter-spacing: -1.5px;
  color: #112137;
  font-family: "Futura Display BQ", sans-serif;
  font-weight: bolder;
  font-style: normal;
  transition: all 2s ease;
}

.home_bg_first {
  top: 412px;
  left: 406px;
}

.home_bg_second {
  top: 392px;
  left: 534px;
} 

@media screen and (min-width: 780px) and (max-width: 2440px) {
  .home_bg_pic {
    left: 50%; 
    top:130px;
    transform: translateX(-50%);
  }
  
  .home_bg_first {
    left: 50%; 
    top:440px;
    transform: translateX(-50%);
    font-size: 1.85em;
    font-weight: bolder;
  }
}

@media screen and (min-width:715px) and (max-width: 780px) {
  .home_bg_pic {
    left: 56%; 
    top:170px;
    transform: translateX(-61%);
  }
  .home_bg_pic img{
    height:250px !important;
    width:350px !important;
  }
  
  .home_bg_first {
    left: 52%; 
    top:435px;
    transform: translateX(-52%);
    font-size: 1.7em;
    font-weight: bolder;
  }
  
}
@media screen and (min-width:621px) and (max-width:715px) {
  
  .home_bg_pic {
    left: 56%; 
    top:170px;
    transform: translateX(-61%);
  }
  .home_bg_pic img{
    height:250px !important;
    width:350px !important;
  }
  
  .home_bg_first {
    left: 52%; 
    top:435px;
    transform: translateX(-52%);
    font-size: 1.5rem;
    font-weight: bolder;
  }
}
@media screen and (min-width:450px) and (max-width:621px) {
  
  .home_bg_pic {
    left: 56%; 
    top:220px;
    transform: translateX(-58%);
  }
  .home_bg_pic img{
    height:180px !important;
    width:250px !important;
  }
  
  .home_bg_first {
    left: 52%; 
    top:415px;
    transform: translateX(-51%);
    font-size: 1.1rem;
    font-weight: bolder;
  }
}
@media screen and (min-width: 370px) and (max-width: 450px) {
  
  .home_bg_pic {
    left: 50%; 
    top:180px;
    transform: translateX(-48%);
  }
  .home_bg_pic img{
    height:150px !important;
    width:200px !important;
  }
  
  .home_bg_first {
    left: 50%; 
    top:337px;
    transform: translateX(-46%);
    font-size: 1em;
    font-weight: bolder;
  }
  .home_bg_container{
    height:640px;
  }
  
}
@media screen and (max-width: 370px) {
  .home_bg_pic {
    left: 50%; 
    top:180px;
    transform: translateX(-48%);
  }
  .home_bg_pic img{
    height:150px !important;
    width:200px !important;
  }
  
  .home_bg_first {
    left: 50%; 
    top:337px;
    transform: translateX(-46%);
    font-size: 0.9em;
    font-weight: bolder;
  }
  .home_bg_container{
    height:640px;
  }
  
  
}

