.nav-section {
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-scrolled {
  background-color: #000000;
  opacity: 0.8;
}

.nav-not-scrolled {
  background-color: #000000;
  opacity: 0.5;
}

.nav-link {
  color: white;
}

.navbar-logo {
  height: 50px;
  margin-left: -33px;
}

.navList a {
  text-transform: uppercase;
}

.navList a:hover {
  color: #ffc400;
}

.active {
  color: #ffc400;
}

.navList {
  margin-right: -30px;

} 
 

@media screen and (min-width:530px) and (max-width: 780px) {
  .nav-section {
    padding: 4px 0; 
    width:100%;
  }
  .nav-item {
    margin: 8px 0; 
  }
  .navbar-logo{
    height:40px;
    margin-left:5px;
  }
  
  .navContainer{
    margin:0 20px 0 20px;
    max-width: 100%;
  }
  .navList{
    margin:0;
  }

  .navList a{
    padding:6px 30px 6px 0px;
  }
 
  
}
@media screen and (min-width:450px) and (max-width: 530px) {
  
  .nav-section {
    padding: 4px 0; 
    width:100%;
  }
  .nav-item {
    margin: 8px 0; 
  }
  .navbar-logo{
    height:40px;
    
  }
  .navbar-header{
    margin-left:235px;
  }
  
  .navContainer{
    margin:0 20px 0 20px;
    max-width: 100%;
  }
  .navList{
    margin:0;
    margin-left:10px;
  }

  .navList a{
    padding:6px 30px 6px 0px;
  }
 
  
}

@media screen and (min-width:390px) and (max-width: 450px) {
  .nav-section {
    padding: 4px 0; 
    width:100%;
  }
  .navbar-logo {
    display: none;
  }

  .navList a {
    font-size: 14px;
    padding:0 0.6rem 0 1rem; 

  }
  .navContainer{
    margin:0.2rem 0.02rem 0.02rem 0.04rem;
    padding:0.2rem;
  }
  .navList{
    padding-left:1.2rem;
    
  }
  .navbar-header,.navbar-header a
  {
    height:0;
    width:0;
    font-size: 0px;
  }
  .main-menu{
    justify-content:left !important;

  }
  
  }
 
@media screen and (max-width: 390px) {
  .nav-section {
    padding: 4px 0; 
    width:100%;
  }
  .navbar-logo {
    display: none;
  }

  .navList a {
    font-size: 14px;
    padding:0 0.5rem 0 0.9rem; 
  }
  .navContainer{
    margin:0.2rem 0.02rem 0.02rem 0.04rem;
    padding:0.2rem;
  }
  .navList{
    padding:0;
    
  }
  .navbar-header,.navbar-header a
  {
    height:0;
    width:0;
    font-size: 0px;
  }
  .main-menu{
    justify-content:left !important;

  }
  
  }


