.nav-section {
  padding: 8px 0;
  background: linear-gradient(#131730, #2e4675, #1040a1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: white;
}
.navbar-logo {
  height: 50px;
  margin-left: -33px;
}
.navList a {
  text-transform: uppercase;
}

.navList a:hover {
  color: #ffc400;
}

.active {
  color: #ffc400;
}

.navList {
  margin-right: -30px;
}
