.pro-serv-item-details {
  background-image: url("/src/assets/images/ps_1.jpg");
  opacity: 0.87;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  color: #fff;
}

.pro-serv-card {
  width: 60%;
  background-color: rgba(27, 31, 34, 0.85);
  padding: 4.5rem 2.5rem 1.5rem;
}
.pro-serv-item-head {
  width: max-content;
  padding-bottom: 0.5rem;
  margin: 0 0 1.2rem;
  padding-top: 9px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.pro-serv-item-image {
  margin: 0 8px 8px 0;
  background-color: #fff;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 0;
  position: relative;
}
.pro-serv-item-image::before {
  display: block;
  border-radius: 4px;
  pointer-events: none;
  background-image: url(https://cnm.co.in/static/media/overlay.c0986529.webp);
  background-color: rgba(19, 21, 25, 0.5);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.product-header {
  display: flex;
  flex-direction: row;
}
.product-description {
  text-align: justify;
  margin: auto;
  color: #fff;
}
#ps-item-size-head {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.table-wrapper {
  overflow-x: auto;
}
table {
  margin: 0 0 2rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  border-bottom: 2px solid #fff;
}
table tbody tr:nth-child(odd) {
  background-color: hsla(0, 0%, 100%, 0.075);
}

table tbody tr {
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
}
table th {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em;
  text-align: left;
}
table td {
  padding: 0.75rem;
}
