.product-service-details {
  background-image: url("/src/assets/images/ps_1.jpg");
  opacity: 0.87;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}
.product-service-card {
  width: 60%;
  background-color: rgba(27, 31, 34, 0.85);
  padding: 4.5rem 2.5rem 1.5rem;
}
.prod-serv-catalog-container {
  display: flex;
  justify-content: space-between;
}
.prod-serv-title {
  border-bottom: 1px solid #fff;
  width: max-content;
  padding-bottom: 0.5rem;
  margin: 0 0 1.2rem;
  padding-top: 9px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.catalog-btn {
  background-color: transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2.75rem;
  letter-spacing: 0.2rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
}
.prod-serv-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0 0 0;
  gap: 30px 50px;
}
.ps_item_container {
  width: 45%;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 18px;
}
.ps_item_desc {
  text-align: justify;
  margin: 5px 0 15px 0;
}
.ps_item_title {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 600;
  margin: 0 0 1rem;
  text-transform: capitalize;
}
.buttonDownload {
  background-color: transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2.75rem;
  letter-spacing: 0.2rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  text-indent: 15px;
  border: none;
}

.buttonDownload:hover {
  color: #fff;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #cdefbd;
}

.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

.ps_read-more {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  height: 2.75rem;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.ps_item_image {
  margin: 0 8px 8px 0;
  background-color: #fff;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 0;
  position: relative;
}
.ps_item_image::before {
  display: block;
  border-radius: 4px;
  pointer-events: none;
  background-image: url(https://cnm.co.in/static/media/overlay.c0986529.webp);
  background-color: rgba(19, 21, 25, 0.5);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}
