.rp-read-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-top: 8px;
  margin-bottom: 6px;
}

.rp-read-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1a1a1a;
  border-radius: 1.625rem;
}

.rp-read-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.rp-read-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.rp-read-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.rp-read-more .read-btn-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 0;
  margin: 0 0 0 1.85rem;
  color: #1a1a1a;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  font-size: 15px;
}

.rp-read-more:hover .circle {
  width: 100%;
}

.rp-read-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.rp-read-more:hover .read-btn-text {
  color: #fff;
}
.rp-bg {
  position: relative;
  height: 500px;
  width: 100%;
  top: -80px;
}

.rp-bg img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.67;
}

.rp-head {
  position: absolute;
  top: 220px;
  left: 360px;
  font-size: 5rem;
  font-weight: bold;
  color: #112137;
}

.rp-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px;
  width: 100%;
  position: relative;
}

.rp-sidebar {
  position: sticky;
  flex: 0 0 200px;
  padding: 20px;
  top: 150px;
  width: 20%;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rp-sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}
.recent-cross-btn {
  cursor: pointer;
  border: 4px dotted #f4f4f4;
  display: inline;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.carousel-control-next{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 70px !important; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.rp-content {
  flex: 1;
  width: 75%;
  margin-left: 20px;
}

.project-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: rgb(225, 225, 225, 0.27);
}

.project-details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.btn-active {
  color: #ffc400;
}
.rp-project-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}
.rp-item-card {
  width: 32.5%;
  text-align: justify;
  border: 1px solid #131730;
  border-radius: 5px;
  padding: 15px;
}
.rp-project-details div img {
  width: 100%;
  height: 235px;
}
.rp-pd-desc {
  color: #606060;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px;
}

.rp-pd-title {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #1a1a1a;
}
.rp-details {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}
.rp-card {
  width: 60%;
  background-color: #f4f4f4;
  padding: 4.5rem 2.5rem 1.5rem;
}
.rp-title {
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid #606060;
  width: max-content;
  padding-bottom: 0.5rem;
  margin: 0 0 1.2rem;
  padding-top: 9px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  color: #606060;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
.rp-desc {
  color: #606060;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #606060;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-indicators button.active {
  background-color: #1a1a1a;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: #606060;
}
.carousel-item img{
  height: 300px;
  width: auto;
  margin: 60px 0 0 166px;
}
.carousel-item p{
  color: #606060;
  font-weight: bold;
  margin: 25px 0 20px 65px;
  width: 80%;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .rp-bg {
    height: 300px; 
    top: -60px; 
  }

  .rp-head {
    top: 116px; 
    left: 51%; 
    transform: translateX(-50%); 
    font-size: 3.5rem; 
  }

  .rp-container {
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
  }

  .rp-sidebar {
    position: relative; 
    width: 100%; 
    top: auto; 
  }

  .rp-content {
    width: 100%; 
    margin-top: 20px; 
    margin-left: 0; 
  }

  .rp-card {
    width: 95%; 
    padding: 2rem; 
  }

  .rp-title {
    font-size: 0.8rem; 
  }

  .rp-desc {
    font-size: 0.9rem; 
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
  }
  

  .rp-project-details div {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .carousel-item{
    float: none;
    margin:0 ;
    margin-left:-123px;
    margin-top:10px;
  }

  .carousel-item img{
    height:200px;
    width:150px;
  }
  .carousel-item p{
    margin-left:148px;
  }
  .carousel-control-next{
    right:5px !important;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .rp-bg {
    height: 400px; 
    top: -80px; 
  }

  .rp-head {
    top: 190px; 
    left:140px;
    font-size: 4.3rem; 
  }
  .rp-project-details div{
    width:48.5%;
  }
  .rp-card {
    width: 70%; 
  }

  .rp-title {
    font-size: 1.5rem; 
  }

  .rp-desc {
    font-size: 1rem; 
  }

  .carousel-item{
    float: none;
    margin:0 ;
    margin-left:-57px;
    margin-top:10px;
  }

  .carousel-item img{
    height:250px;
    width:200px;
  }
  .carousel-item p{
    margin-left:103px;
  }
  .carousel-control-next{
    right:5px !important;
  }
  
}



