
#specialization {
  padding-top: 70px;
  padding-bottom: 55px;
  background-image: url(https://template.hasthemes.com/raees/raees/img/bg/1.png);
  overflow-x: hidden;
}
.spec-container {
  max-width: 1170px;
  padding: 0 150px 0 40px;
  margin: 0 50px;
}
.specialization-title {
  padding-bottom: 55px;
}
.specialization-title h2 {
  color: #ffc400;
  margin: 0 0 25px;
  font-size: 40px;
  font-weight: 700;
  font-family: "oswald", sans-serif;
}
.specialization-title p {
  margin: 0;
  padding-right: 40%;
}
p {
  color: #606060;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px;
}
.specialization-single {
  padding-bottom: 35px;
}

.service-title h3 {
  color: #303030;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  /* padding-left: 48px; */
}
/* Media Queries for Responsive Design */
@media screen and (max-width: 420px) {
  /* Adjustments for Samsung and iPhone phones */
  .col-md-4 {
    width: 100%; /* Each specification takes up full width */
    padding: 0 15px; /* Add some padding between specifications */
    margin-bottom: 30px; /* Add margin at the bottom for spacing */

  }
  .specialization-title {
    width: 270px;
  }
  .spec-container .row{
    width:250px;
  }
  
}

@media screen and (min-width:421px) and (max-width: 788px)  {
  /* Adjustments for tablets */
  .col-md-4 {
    width: 100%; /* Two specifications per row */
    display: flex;
  }
  .spec-container{
    padding: 0 40px 0 40px;
  }
  .specialization-single{
    text-align: justify;
    padding: 5px 14px 5px 14px;
  }
}

